<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyoukj.mapper.qhd.InfototalorderMapper">

	<resultMap id="InfototalorderResult" type="com.yuyoukj.model.qhd.Infototalorder">
		<result property="seq" column="seq"/>
		<result property="totalid" column="totalid"/>
		<result property="tradeid" column="tradeid"/>
		<result property="createdate" column="createdate"/>
		<result property="updatedate" column="updatedate"/>
		<result property="stype" column="stype"/>
	</resultMap>

	<select id="checkSname" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(1)
		FROM info_totalorder a
		WHERE a.brandname = #{brandname} <!-- 根据实际参数调整 -->
			<if test="seq !=null">
				AND a.seq != #{seq}
			</if>
	</select>

	<select id="getInfototalorder" parameterType="java.util.HashMap" resultMap="InfototalorderResult">
		SELECT
			a.seq,
			a.totalid,
			a.tradeid,
			a.itemid,
			a.createdate,
			a.updatedate,
			a.stype
		FROM info_totalorder a
		WHERE 1 = 1
			<if test="seq != null">
				AND a.seq = #{seq}
			</if>
			<if test="totalid != null">
				AND a.totalid = #{totalid}
			</if>
			<if test="tradeid != null">
				AND a.tradeid = #{tradeid}
			</if>
			<if test="stype != null">
				AND a.stype = #{stype}
			</if>
			<if test="itemid != null">
				AND a.itemid = #{itemid}
			</if>
	</select>

	<select id="getInfototalorderList" parameterType="java.util.HashMap" resultMap="InfototalorderResult">
		SELECT
			a.seq,
			a.totalid,
			a.tradeid,
			a.itemid,
			a.createdate,
			a.updatedate,
			a.stype
		FROM info_totalorder a
		WHERE 1 = 1
			<if test="seq != null">
				AND a.seq = #{seq}
			</if>
			<if test="totalid != null">
				AND a.totalid = #{totalid}
			</if>
			<if test="tradeid != null">
				AND a.tradeid = #{tradeid}
			</if>
			<if test="stype != null">
				AND a.stype = #{stype}
			</if>
			<if test="itemid != null">
				AND a.itemid = #{itemid}
			</if>
	</select>

	<update id="updateInfototalorder" parameterType="com.yuyoukj.model.qhd.Infototalorder">
       UPDATE info_totalorder a
            SET a.updatedate = #{updatedate}
            <if test="totalid != null">
            	, a.totalid = #{totalid}
            </if>
            <if test="tradeid != null">
            	, a.tradeid = #{tradeid}
            </if>
            <if test="itemid != null">
            	, a.itemid = #{itemid}
            </if>
            <if test="createdate != null">
            	, a.createdate = #{createdate}
            </if>
            <if test="stype != null">
            	, a.stype = #{stype}
            </if>
         WHERE a.seq = #{seq}
	</update>
	
	<update id="updateInfototalorder_map" parameterType="java.util.HashMap">
       UPDATE info_totalorder a
            SET a.updatedate = #{updatedate}
            <if test="totalid != null">
            	, a.totalid = #{totalid}
            </if>
            <if test="tradeid != null">
            	, a.tradeid = #{tradeid}
            </if>
            <if test="itemid != null">
            	, a.itemid = #{itemid}
            </if>
            <if test="createdate != null">
            	, a.createdate = #{createdate}
            </if>
            <if test="stype != null">
            	, a.stype = #{stype}
            </if>
         WHERE a.seq = #{seq}
	</update>

	<insert id="saveInfototalorder" parameterType="com.yuyoukj.model.qhd.Infototalorder" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO info_totalorder
            (
				totalid,
				tradeid,
				itemid,
				createdate,
				updatedate,
				stype
			)
        VALUES
            (
				#{totalid},
				#{tradeid},
				#{itemid},
				#{createdate},
				#{updatedate},
				#{stype}
			)
	</insert>

	<delete id="delInfototalorder" parameterType="java.util.HashMap">
		DELETE FROM info_totalorder WHERE seq = #{seq}
	</delete>
</mapper>








