<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyoukj.sys.mapper.MenuMapper">

	<resultMap id="menuResult" type="com.yuyoukj.sys.model.Menu">
		<result property="id" column="id" />
		<result property="pid" column="pid" />
		<result property="rid" column="rid" />
		<result property="sname" column="sname" />
		<result property="href" column="href" />
		<result property="target" column="target" />
		<result property="icon" column="icon" />
		<result property="sort" column="sort" />
		<result property="isshow" column="isshow" />
	</resultMap>

	<select id="getAllMenu" parameterType="java.util.HashMap"
		resultMap="menuResult">
		SELECT a.id, a.pid, a.sname, a.href,
			a.isshow, c.rid, a.icon
		FROM sys_fun a
		LEFT JOIN inter_fun_role b on b.fid = a.fid
		LEFT JOIN inter_role_user c on c.rid = b.rid
		LEFT JOIN info_user d on d.userid = c.userid
		where d.username = #{username}
			AND a.slevel = #{slevel}
			AND a.isshow = #{isshow}
			AND a.sflag = #{sflag}
			<if test="id != nuLL">
				AND a.pid = #{id}
			</if>
		ORDER BY a.orderby ASC
	</select>
</mapper>